{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product }}/ {{ color.color }}
{% endblock %}


{% block content %}
<div class="container">
    <div class="product_page">
        <ul>
            <a href="{% url 'home' %}">Главная</a>
            <li>/</li>
            <a href="{% url 'category' product.category.slug %}">{{ product.category }}</a>
            <li>/</li>
            <a href="{% url 'profile' product.producer %}">{{ product.producer }}</a>
            {% if request.user == product.producer %}
            <a href="{% url 'update_color' color.pk %}" class="btn">Изменить</a>
            <a href="{% url 'delete_color' color.pk %}" class="btn">Удалить</a>
            {% endif %}
        </ul>
    </div>
    <div class="product">
        {% if color.preview %}
        <img src="{{ color.preview.url }}" alt="">
        {% else %}
        <img src="{% static 'images/none.png' %}" class="card-img-top product_img" alt="...">
        {% endif %}
        <div class="product_header">
            <h1>{{ product.title }}</h1>
            <p>Производитель: {{ product.producer }}</p>
            <p>Покупок: {{ color.shopping }}</p>
            <p>Цвет: {{ color.color }}</p>
            <h1>Описание товара</h1>
            <p>{{ product.description }}</p>

        </div>
        <div class="product_bottom">
            <ul>
                {% if color.discount %}
                <h3><del><small>{{ color.price }}</small></del> {{ color.sell_price }} Сум</h3>
                {% else %}
                <h3>{{ color.price }} Сум</h3>
                {% endif %}

                {% if color in storage1 %}
                <a href="{% url 'storage' %}"><button type="button" class="btn costume_btn basket">Товар в корзине</button></a>
                {% else %}
                {% if color.quantity != 0 %}
                {% if request.user.is_authenticated %}
                <a href="{% url 'storage_add_color' color.pk %}"><button type="button" class="btn costume_btn">Добавить в корзину</button></a>
                {% else %}
                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"><button type="button" class="btn costume_btn">Добавить в корзину</button></a>
                {% endif %}
                {% else %}
                <b class="none l_2">Товар не доступен</b>
                {% endif %}
                {% endif %}
            </ul>

        </div>
        <h3 class="color_title">Цвета</h3>
        <ul class="color_line">
            <a href="{% url 'detail' product.pk %}" class="color_href">{{ product.color }}</a>
            {% for el in color_all %}
            {% if el.pk != color.pk %}
            <a href="{% url 'color_detail' el.pk %}" class="color_href">{{ el.color }}</a>
            {% endif %}
            {% endfor %}
        </ul>
    </div>


</div>
<div class="mt-4">
    <a href="{% url 'feedback' product.pk %}" class="none_href"><h2 class="text-center mb-3">Отзывы</h2></a>
    <div class="comment">
        <ul>
            {% for comment in comments %}
            {% include 'includes/_comment.html' %}
            {% endfor %}
        </ul>
    </div>
    <h2 class="text-center mb-3 comment_post"><a href="{% url 'feedback' product.pk %}">Оставить отзыв</a></h2>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Упс!</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Зарегистрируйтесь, чтобы добавлять товары в Избранное и в Корзину
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <a href="{% url 'login' %}">
                                <button type="button" class="btn btn-primary">Войти</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}