{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/blog_app/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
</head>
<body>
<div>
    <header>
        <span class="logo">logo</span>

        <img src="static/blog_app/img/logo_2.png" alt="" class="logo_img">
        <nav>
            <ul>
                <li><a href=""><i class="bi bi-bag-check">корзина</i></a></li>
                <li><a href="">Ладно</a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>
    </header>
</div>
<div class="container">

<ul class="the-body">
    <img src="static/blog_app/img/panama.jpg" alt="">
    <div>
        <h2>Asdsadsd</h2>
        <h1>dsadasdasdasdasdsad</h1>
        <p>sadfhofhiofdhifdpsasdasdsadsa
        sfaffajfjfsafsjfasposfdsasdahisadoihs
            sdadsadsadsad
        sadsadsdd:D</p>
    </div>
</ul>
</div>
<div class="lent">
    <ul>
        <li><a href="{% url 'FAQ' %}">Пальто</a></li>
        <li><a href="">Пальто1</a></li>
        <li><a href="">Пальто2</a></li>
        <li><a href="">Пальто3</a></li>
        <li><a href="">Пальто4</a></li>
    </ul>
</div>
<div class="container content">

</div>
</body>
</html>