{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container feedback">
    <div class="product_feedback">
        <ul>
            {% if product.preview %}
            <img src="{{ product.preview.url }}" alt="">
            {% else %}
            <img src="{% static 'images/none.png' %}" class="card-img-top product_img" alt="...">
            {% endif %}
            <li>
                <a href="{% url 'detail' product.pk %}"><p class="title">{{ product.title }}</p></a>
                <p> / </p>
                <a href="{% url 'category' product.category.slug %}"><p>{{ product.category }}</p></a>
            </li>
        </ul>
    </div>
    <h1>Все отзывы</h1>
    {% for comment in comments %}
    <br><div class="card">
        <div class="card-header">
            {{ comment.author }}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ comment.text }}</p>
                {% if comment.author == product.producer %}
                <footer class="blockquote-footer"><cite title="Source Title">Автор товара</cite></footer>
                {% else %}
                <footer class="blockquote-footer"><cite title="Source Title">Пользователь</cite></footer>
                {% endif %}
            </blockquote>
        </div>
    </div>
    {% endfor %}
</div>
<div class="padding"></div>
<div class="container">
    {% if request.user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-dark mt-3">Отправить</button>
    </form>
    {% else %}
    <h2>Авторизуйтесь, чтобы оставлять отзывы  <a href="{% url 'login' %}"><button type="button" class="btn costume_btn">Войти</button></a></h2>
    <div class="padding"></div>
    {% endif %}
</div>
{% endblock %}